<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../vendors/angular.min.js" charset="utf-8"></script>
  <script src="../scripts/httpIntro.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Giphy GIFs with Angular</title>
</head>
<body ng-app="myApp">
  <header>
    <h1>Giphy GIFs with Angular</h1>
  </header>
  <div class="container" ng-controller="GiphyController as gc" ng-init="gc.randomGif()">
    <div class="row">
      <button ng-click="gc.randomGif()">I'm feeling lucky! (TM)</button>
      <p>
        <img ng-src={{gc.display}}>
      </p>
      <form ng-submit="gc.searchGif()">
        <label for="search">Not good enough?</label>
        <input type="text" id="search" placeholder="Search for a better gif" ng-model="gc.searchInput">
        <input type="submit"></button>
      </form>
    </div>
  </div>

</body>
</html>
